<p class="h1">Brands</p>
<hr/>
<div class="mb-3">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "CREATE", new_brand_path, class: "btn btn-success me-1" %>
  <% end %>
  <div class="dropdown d-inline">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" id="dropdownMenuButton1" aria-expanded="false">
      <%= icon('fa-solid fa-gear','') %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><%= link_to "View Active", brands_path, class: "dropdown-item" %></li>
    </ul>
  </div>
</div>
<div id="brands">
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col"></th>
    </thead>
    <tbody>
      <% @brands.each do |brand| %>
        <tr class="align-middle">
          <td scope="row"><%= brand.name %></td>
          <td scope="row"><%= brand.code %></td>
          <td scope="row">
            <%= link_to "View Detail", brand, class: "btn btn-primary float-end" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @brands.length == 0 %>
    <p class="text-center text-muted fst-italic">No data found in the database. Click CREATE to create a new one.</p>
  <% end %>
</div>
