<div class="d-flex flex-row">
  <% if user_signed_in? && current_user.admin? %>
    <div class="me-1">
      <%= link_to "EDIT", edit_brand_path(@brand), class: "btn btn-primary shadow-sm" %>
      <% if @brand.active? %>
        <%= link_to "ARCHIVE", switch_state_brand_path(@brand), class: "btn border-1 border" %>
      <% else %>
        <%= link_to "UNARCHIVE", switch_state_brand_path(@brand), class: "btn border-1 border" %>
      <% end %>
    </div>
    <%= button_to "DELETE", @brand, method: :delete, class: "d-inline-block btn border-1 border me-1" %>
  <% end %>
  <%= link_to "BACK", brands_path, class: "btn border-1 border d-block me-1" %>
</div>
<div class="mt-3">
  <%= render @brand %>
</div>
