<div id="<%= dom_id product %>" class="border border-1 shadow-sm p-4">
  <h1 class="mb-5"><%= product.name %></h1>
  <div class="row mb-3">
    <div class="col-sm-1">
      <strong>Currency</strong>
    </div>
    <div class="col">
      <%= product.currency %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-1">
      <strong>Price</strong>
    </div>
    <div class="col">
      <%= product.price %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-1">
      <strong>Brand</strong>
    </div>
    <div class="col">
      <%= product.brand.name %>
    </div>
  </div>

</div>
